#footer {
    margin-top: 120px;
}

.footer-container {
    display: flex;
    // align-items: center;
    justify-content: space-between;
    padding-bottom: 64px;

    .nfters {
        &-title {
            font-family: $heading_font;
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 29px;
            margin-bottom: 25px;
        }

        &-desc {
            font-family: $font;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 160%;
            max-width: 340px;
            margin-bottom: 32px;
            color: #363639;
            margin-bottom: 24px;
        }

        &-social {
            display: flex;
            align-items: center;
            gap: 16px;

            .item {
                transition: all ease 0.5s;
                &:hover {
                    cursor: pointer;
                    transform: translateY(-5px);
                }
            }
        }
    }

    .footer-link {
        flex: 1;
        display: flex;
        justify-content: space-around;
    }

    .marketplace {
        &-title {
            font-family: $font;
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 23px;
            text-transform: capitalize;
            margin-bottom: 33px;
        }

        &-content {
            display: flex;
            flex-direction: column;
            gap: 10px;

            a {
                color: #000000;
                font-family: $font;
                font-size: 14px;
                font-weight: 500;

                &:hover {
                    // underline run left to right

                    cursor: pointer;
                    color: $primary_color;
                    text-decoration: underline;
                }
            }

            .desc {
                max-width: 362px;
                font-family: $font;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 160%;
                color: #363639;
            }

            .contact-email {
                background: #ffffff;
                border: 2px solid #f1f1f1;
                border-radius: 45.595px;
                height: 60px;
                display: flex;
                align-items: center;
                padding: 0 10px 0 20px;

                input {
                    flex: 1;
                    height: 100%;
                    border: none;
                    outline: none;
                    font-family: $font;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 12.1587px;
                    line-height: 16px;
                    /* identical to box height */
                    background-color: transparent;
                    color: #959595;
                    caret-color: $primary_color;
                }

                button {
                    padding: 14px 28px;
                    background: #2639ed;
                    border-radius: 45.595px;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 12.1587px;
                    line-height: 16px;
                    /* identical to box height */

                    letter-spacing: 0.065em;

                    color: #ffffff;

                    &:hover {
                        cursor: pointer;
                        background: $primary_color_hover;
                    }
                }
            }
        }
    }
}

.copy-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    // gap: 12px;

    span {
        // copyright
        font-family: $font;
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 160%;
        color: #363639;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
    .footer-container {
        padding: 0 20px;
    }

    .nfters-desc {
        max-width: 300px;
    }

    .footer-container .marketplace-content .desc {
        max-width: 300px;
    }
}

@media screen and (max-width: 1023px) {
    .footer-container {
        flex-direction: column;
        gap: 32px;
    }

    .nfters {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
}

@media screen and (max-width: 739px) {
    .footer-container {
        padding: 0 20px;
    }

    .marketplace-title {
        margin-bottom: 12px !important;
        text-align: center;
    }

    .desc {
        text-align: center;
    }

    .footer-link {
        display: flex;
        flex-direction: column;
        gap: 32px;

        &-a {
            display: flex;
            justify-content: space-between;
        }
    }

    .copy-container {
        margin-top: 32px;
    }

    .contact-email {
        flex-direction: column;
        gap: 12px;
        height: auto !important;
        padding: 6px 0 !important;
        border-radius: 8px !important;
        input {
            padding: 12px 0;
        }
    }
}
